{{ define "views/book.html" }}
{{ template "layouts/header.html" .}}
<style>
    .center{
        position: absolute;
        left: 50%;
        top: 50%;
        -webkit-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
    }
    .list li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 13px;
    border-top: 1px solid #eee;
    cursor: pointer
}
</style>
<div class="container d-flex justify-content-center align-items-center">
    <div class="card text-center w-75">
        <div class="py-4 p-2">
            <div id="image_{{ .book.Title.String }}">
                {{ template "layouts/book.svg" .book }}
                <!--<img src="{{ .book.Cover.String }}" class="rounded" width="300">-->
            </div>
            <!--<div class="mt-3 d-flex flex-row justify-content-center">
                <h5 style="text-transform: capitalize;">{{ .book.Title.String }}</h5>
            </div>-->
        </div>
        <form class="row g-3" action="/api/book/{{ .book.ID }}/update" method="POST" role="form" enctype="multipart/form-data">
            <div class="col-md-6">
              <label for="inputTitle" class="form-label">Title</label>
              <input type="title" class="form-control" id="inputTitle" name="inputTitle">
            </div>
            <div class="col-md-6">
                <label for="inputAuthor" class="form-label">Author</label>
                <input type="author" class="form-control" id="inputAuthor" name="inputAuthor">
              </div>
            <div class="col-md-6">
              <label for="inputGenre" class="form-label">Genre</label>
              <input type="genre" class="form-control" id="inputGenre" name="inputGenre">
            </div>
            <div class="col-md-6">
              <label for="inputPublisher" class="form-label">Publisher</label>
              <input type="publisher" class="form-control" id="inputPublisher" name="inputPublisher">
            </div>
            <div class="col-md-6">
                <label for="inputCover" class="form-label">Cover Image</label>
                <input class="form-control" id="inputCover" type="file" id="inputCover" name="inputCover">
            </div>
            <div class="col-md-6">
                <label for="inputBackCover" class="form-label">Backcover</label>
                <textarea class="form-control" id="inputBackCover" name="inputBackCover" rows="10" placeholder="# Insert Markdown here..."></textarea>
            </div>            
            <div class="col-md-12">
              <button type="submit" class="btn btn-primary">Publish</button>
            </div>
          </form>
    </div>
</div>
{{ template "layouts/footer.html" . }}
{{end}}
